*{
    margin: 0px;
    padding: 0px;
} 

.gallery{
    display: grid;
}

 .bgImage{
    height: 460px;
    width: 100%;
    border: 1px solid;
    background-image: url('../../../../public//image//about/homeCar.jpeg');
   
}
.bgImage h2{
    color: white;
    margin-top: 8rem;
}

.bgImage ul{
    padding-left: 100px;
    padding-top: 40px;
    color: white;
}


.gallery  .header {
    margin-top: 50px;
    /* align-items: center; */
    text-align: center;
    /* margin-left: 470px; */

}
.gallery  .header a{
    text-decoration: none;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    cursor: pointer;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    border: 2px solid red;
}

.gallery  .header a:hover{
    background-color: red;
    color: white;
}


