*{
    margin: 0px;
    padding: 0px;
}


.tata{
    display: grid;
}

.tata .images{
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
}

.tata .images .subCar1{
    height: 300px;
    border: 0.5px solid;
    box-shadow: 5px 10px 15px;
   border-radius: 8px;
    width: 400px;
    background-image: url('../../../../../public/car/c7.jpg');
    background-size: cover;
    margin-bottom: 10px;
    margin-right: 20px;
}

.tata .images .subCar2{
    height: 300px;
    border: 0.5px solid;
    box-shadow: 5px 10px 15px;
   border-radius: 8px;
    width: 400px;
    background-image: url('../../../../../public/car/c7.webp');
    background-size: cover;
    margin-bottom: 10px;
    margin-right: 20px;
}
.tata .images .subCar3{
    height: 300px;
    border: 0.5px solid;
    box-shadow: 5px 10px 15px;
   border-radius: 8px;
    width: 430px;
    background-image: url('../../../../../public/car/c8.jpg');
    background-size: 430px 300px;
    margin-bottom: 10px;
    margin-right: 20px;
}