*{
    margin: 0px;
    padding: 0px;
}


.mahindra{
    display: grid;
}

.mahindra .images{
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
}

.mahindra .images .subCar1{
    height: 300px;
    border: 0.5px solid;
    box-shadow: 5px 10px 15px;
   border-radius: 8px;
    width: 450px;
    background-image: url('../../../../../public/car/c4.jpg');
    background-size: cover;
    margin-bottom: 10px;
    margin-right: 20px;
}

.mahindra .images .subCar2{
    height: 300px;
    border: 0.5px solid;
    box-shadow: 5px 10px 15px;
   border-radius: 8px;
    width: 400px;
    background-image: url('../../../../../public/car/c4.webp');
    background-size: 400px 300px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.mahindra .images .subCar3{
    height: 300px;
    border: 0.5px solid;
    box-shadow: 5px 10px 15px;
   border-radius: 8px;
    width: 400px;
    background-image: url('../../../../../public/car/c5.jpg');
    background-size: 400px 300px;
    margin-bottom: 10px;
    margin-right: 20px;
}